<form class="" action="/edit/{{_id}}" method="post">
  name of candy
  <input type="text" name="name" value="" placeholder="name">
  company
  <input type="text" name="company" value="" placeholder="company">
  Weight in grams
  
  <input type="text" name="weight" value="" placeholder="grams">
  The flavor
  <input type="text" name="flavor" value ="" placholder="flavor">
  The color
  <input type="text" name="color" value="" placeholder= "color">
  What type of Candy?
  <select class="" name="type">
    <option value="sour">Sour</option>
    <option value="chocolate">Chocolate</option>
    <option value="sweet">Sweet</option>
    <option value="gum">Gum</option>
    <option value="gummy">Gummy</option>
  </select>
  <button type="submit" name="button">Edit this candy!</button>

</form>
