<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    here i am
    <a href="/delete">Delete</a>
    <a href="/change">Change</a>
    <a href="/create">Create</a>
    {{{yield}}}
    {{#name}}
    {{.}}
    {{/name}}
  </body>
</html>
