<form class="" action="/" method="post">
  <input type="text" name="name" value="" placeholder="name">
  <input type="text" name="company" value="" placeholder="company">
  <input type="text" name="weight" value="" placeholder="weight">
  <input type="text" name="flavor" value ="" placholder="flavor">
  <input type="text" name="color" value=""placeholder= "color">
  <button type="submit" name="button">button</button>

</form>






{{#candyInfo}}
<div id="{{id}}"><hr>
<form class="" action="/delete/{{id}}" method="post">
  <button type="button" name="button">delete</button>

</form>
{{name}}
{{company}}
{{weight}}
{{#flavors}}
{{flavor}}
{{color}}
{{/flavors}}
<!--
<form class="" action="/{{_id}}" method="post">

</form> -->
</div>
{{/candyInfo}}
